In [2]:
import sys
import os
file_dir = os.path.dirname(os.path.abspath('__file__'))
sys.path.append(os.path.join(file_dir,'..'))
from datetime import datetime, timedelta
from src import postprocessing as pp
import pandas as pd


def calculate_daily_bolus_dose(df):
    return df.groupby(df.datetime.dt.date).agg({'bolus': 'sum'}).rename_axis('date')


sample_data = {'bolus': [10, 10],
               'datetime': [datetime(2018, 6, 1, 8, 0, 0),datetime(2018, 6, 1, 9, 0, 0),],
               'delivery_duration': [timedelta(hours=2),timedelta(hours=0)],
               'patient_id': [1, 1]}

sample_data = pd.DataFrame(sample_data)
display(sample_data)

sample_data_transformed = sample_data.groupby('patient_id').apply(pp.bolus_transform).droplevel(0)
tdd_sample_data = sample_data.groupby('patient_id').apply(calculate_daily_bolus_dose, include_groups=False)
tdd_sample_data_transformed = sample_data_transformed.groupby('patient_id').apply(calculate_daily_bolus_dose, include_groups=False)

display(tdd_sample_data)
display(tdd_sample_data_transformed)

   bolus            datetime delivery_duration  patient_id
0     10 2018-06-01 08:00:00   0 days 02:00:00           1
1     10 2018-06-01 09:00:00   0 days 00:00:00           1

/var/folders/m4/5d02b2xs0l52lbxzbk0t3vym0000gp/T/ipykernel_63439/959829083.py:22: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  sample_data_transformed = sample_data.groupby('patient_id').apply(pp.bolus_transform).droplevel(0)

                       bolus
patient_id date
1          2018-06-01     20

                       bolus
patient_id date
1.0        2018-06-01   10.0
           2018-06-02    0.0